﻿@charset "utf-8";
/* CSS Document */

body { margin:0px; padding:0px; font: 12px Arial, Helvetica, sans-serif "宋体" }
img { border:0px; margin:0px; border:none }
* { text-decoration:none; font:12px Arial, Helvetica, sans-serif }
.clr { clear:both; padding:0px; margin:0px}
.h1,h2,h3,h4,h5 { font-size:none } 


a { color:#ffffff; font:12px "宋体" }
/*--------main--------*/
.box_html { width:100%; height:auto }

/*--------head--------*/
.head { width:100%; height:auto}
.top { background:#0d5e9e; margin:0px; padding:0px}
.icon { background:url(../images/top_bg_02.gif) repeat-y; margin:0 auto; width:1024px; height:30px}
.icon ul { width:960px; height:29px; list-style:none; float:right; margin-right:0px; margin-top:5px}
.icon ul li { float:left; margin-right:15px; padding:0px}
.icon ul li a { font:12px/25px Arial, Helvetica, sans-serif; color:#FFF; margin-left:5px}
.icon ul li a:hover { text-decoration:none}

/*--------daohang  --------*/
.daohang{ height:103px;  width:100%; margin-top:5px;}
.head_content { width:1000px; margin:0 auto;} 
.logo { background:url(../images/logo_03.png); width:100px; height:95px; float:left; margin-top:3px}
.ept1 { float:left;width:900px; height:27px}
.ept2 { float:left;width:65px; height:68px}
.menu { height:41px; width:770px; float:right;margin:0px 65px 0px 0px;  }
.menu ul { width:755px; height:41px; padding:0px; background:url('../../user/images/menu_bg_09.gif') repeat-x; margin-top:0px; margin-left:0px; float:left; list-style:none}
.menu ul li { float:left; width:125px; text-align:center; }
.menu ul li a { font: bold 12px/41px Arial, Helvetica, sans-serif; color:#2c2b2b}
.menu ul li a:hover { color:#FFF;}
.menu ul li:hover {  background:url(../images/menu_bg_bg_12.gif); width:125px; height:39px; }
.menu ul li img { float:right; width:2px; height:41px }
.menu_left { float:left; width:6px; height:41px }
.menu-01 { background:url(../images/menu_01_bg_12.gif); width:129px; height:39px; float:left }
.menu-01 li a { font:bold 12px/41px Arial, Helvetica, sans-serif; color:#FFF; text-align:center; margin-top:0px}



/*--------middle--------*/
.middle { width:100%; height:auto}

.middle_top { width:100%; height:auto; clear:both; margin:auto }
.banner { background:url(../images/banner_27.gif) no-repeat; width:1024px; height:295px; margin:auto}
.banner_bottom  { background:url(../images/banner_bottom_bg_29.gif) repeat-y; height:73px; width:1024px; display:block; border-ottom:#CCC 1px solid; margin:auto}
.bottom_content { width:1000px; height:40px; margin:auto; padding-top:20px}
.bottom_left { font:12px/17px Arial, Helvetica, sans-serif "宋体"; color:#333; display:block; float:left }
.bottom_right { height:33px; width:250px; float:right; background:url(../images/search_bg_32.gif) no-repeat; padding-right:15px}
.input{ border:1px solid #969696; width:200px; height:20px; float:left; margin:4px; background:#969696; color:#FFF}
.but { background:url(../images/searcg_button_05.gif) no-repeat; width:26px; height:24px; margin:3px 0px; float:left; border:0px solid #969696  }

.middle_centre { width:1000px; height:auto; clear:both; margin:auto; margin-top:25px }
.middle_centre1 { width:1000px; height:255px; }
.middle_centre1 ul { width:100%; height:100%; margin:0px; padding:0px; list-style:none}
.middle_centre1 ul li { width:315px; height:255px; float:left; margin-left:15px}
.column1 { height:255px; width:315px; display:block; }
.column1 p { display:block; background:url(../images/sidebar_bg_36.gif) no-repeat; width:315px; height:52px; color:#FFF; font: bold 12px/35px "宋体"; margin-top:0px}
.column1 p span { font: bold 12px/10px Arial, Helvetica, sans-serif; color:#999  }
.img1 { padding:5px; border:1px #999 solid; margin-left:7px}
.text1 { display:block; font:12px/25px "宋体"; margin-top:5px; color:#666; margin:10px  }
.text1 a { float:right}

.middle_centre2 { width:1000px; height:355px; margin-top:35px;}
.middle_centre2 ul { width:100%; height:100%; margin:0px; padding:0px; list-style:none}
.middle_centre2 ul li { width:315px; height:355px; float:left; margin-left:10px}
.column2 { height:255px; width:315px; display:block; font:12px/25px "宋体"; color:#666; margin:5px }
.column3 { height:255px; width:315px; display:block; margin:5px}
.column3 ul { height:255px; width:315px;}
.column3 ul li { width:315px; height:83px; background:#e9e6e2; margin:5px 0px 0px 0px}
.column3 ul li a{font:12px/20px "宋体"; color:#666 }
.column5 ul li p a:hover { color:#333; text-decoration:none}
.column3 ul li img { float:left; padding-top:5px}
.column3 ul li p { font:12px/25px "宋体"; display:block; color:#666; width:230px; float:right; margin-right:10px  }
.column3 ul li p span { font:12px/20px "宋体";  color:#666}

.column4 { height:255px; width:315px; display:block; margin:0px}

.text3 { background:#c6c6c6; height:260px; width:315px; margin-top:0px}
.text3 p a{ font:bold 12px/30px "宋体"; display:block; color:white}
.text3 p span a{ font:12px/20px "宋体";  color:#666; display:block; width:300px; margin-left:8px }
.text33 {  height:255px; width:315px; margin-top:0px}
.text33 p a{ font:bold 12px/30px "宋体"; display:block; color:white}
.text33 p span a{ font:12px/20px "宋体";  color:#666; display:block; width:300px; margin-left:8px }
.img2{ margin:10px; float:left}

 
.foot { width:100%; height:270px; background:#f3f3f3}
.foot_content { width:1000px; margin:auto; text-align:left }
.foot_content p { padding-left:15px }
.foot_content ul { width:100%; list-style:none; margin-top:25px}
.foot_content ul li { padding-right:50px }
.column5 { height:245px; width:195px; float:left; }
.column5 p {  font:bold 12px/30px "宋体"; display:block; color:#333}
.column5 ul { padding:0px; margin:0px}
.column5 ul li { height:30px; width:195px; margin:0px}
.column5 ul a { font:12px/20px "宋体"; color:#666 }
.column5 ul a:hover { color:#333; text-decoration:none}
/*.foot { width:100%; height:270px; background:#f3f3f3}
.foot_content { width:1000px; margin:auto }
.foot_content p {  }
.foot_content ul { width:100%; list-style:none; }
.foot_content ul li {  }
.column5 { height:245px; width:195px; float:left; }
.column5 p {  font:bold 12px/30px "宋体"; display:block; color:#333}
.column5 ul { padding:0px; margin:0px}
.column5 ul li { height:30px; width:195px; margin:0px}
.column5 ul a { font:12px/20px "宋体"; color:#666 }
.column5 ul a:hover { color:#333; text-decoration:none}*/

.column6 { height:245px; width:220px; float:left; }
.column6 p {  font:bold 12px/30px "宋体"; display:block; color:#333; padding-left:15px}
.column6 span { font:12px/25px "宋体";  color:#666; display:block }

.footer { height:120px; width:100%; background:#b6b6b6; margin-top:5px}
.footer_content { width:1000px; margin:auto; height:120px;}
.footer_content p { text-align:center; padding-top:30px; color:#ffffff; height:25px}
.footer_content ul { width:500px; height:30px; margin:auto; list-style:none }
.footer_content ul li { float:left; margin-left:15px; width:70px}
.footer_content ul li a { color:#FFF; text-align:center; font:12px/30px "宋体" }
.footer_content ul li a:hover { text-decoration:none; color:#666}
.footer_content ul li span { float:right; padding:5px; font:12px/25px "宋体"; color:#FFF}



/*--------js--------*/
#banner { margin: 0px auto 0px auto; padding: 0px; width:100%; height:295px; }
.slides { margin: 0px auto; width: 100%; height:295px; position: relative; margin:auto }
.slide-pic { margin: 0px; padding: 0px; width:1024px; overflow: hidden; list-style: none; }
    .slide-pic img { width: 1024px; height: 295px; }
    .slide-pic li { display: none; }
        .slide-pic li.cur { display: block;background:#0D5292; }		
.slide-li { margin: 0px; padding: 0px; left: 2px; bottom: 0px; position:relative; }
    .slide-li li { margin: 0px; padding: 0px; width: 204px; height: 10px; float: left; overflow: hidden; list-style: none; }
    .slide-li a { width: 20px; height: 10px; color: #000; font-size: 12px; display: block; }
        .slide-li a:hover { color: #F00; text-decoration: none; }
.op li { background:#999999; filter: alpha(opacity=60); opacity: 0.6; }
    .op li.cur { background: #666666; }
.slide-txt span { display: none; }
/*--------new--------*/
.new { width:1000px; height:auto; margin:0 auto; clear:both; margin-top:20px}
.news_left { width:205px; height:auto; float:left }
.news_list { height:262px; width:205px; background:url(../images/list_bg_03.gif) no-repeat}
.news_list p { font: bold 14px/20px "宋体"; color:#0d5595; display:block; padding:15px; margin:0px}
.news_list p span { color:#666666; font:11px/20px Arial, Helvetica, sans-serif }
.news_list ul { height:165px; list-style:none; margin:0px; padding:10px}
.news_list ul li { height:33px; padding:0px; margin:0px; width:100%  }
.news_list ul li a { font: 12px/33px "宋体"; color:#666666; padding:20px }
.news_list ul li a:hover { font:12px/30px "宋体"; color:#FFF}
.news_list ul li:hover { background:url(../images/list_bg_bg_03.gif) no-repeat; width:186px; height:33px; margin-top:3px}

.link { width:100%; padding:0px}
.link p { font: bold 12px/20px "宋体"; color:#870307; display:block; margin-left:15px }
.link span {  margin:5px 0px 0px 15px; font:12px/25px "宋体"; color:#333333; display:block}

.news_right { width:785px; float:left; margin-left:3px} 
.bit { background:url(../images/list_right_bg_05.gif) no-repeat; width:785px; height:63px}
.bit p { font: bold 14px/20px "宋体"; color:#0d5595; display:block; margin:15px 35px; width:70px; padding:0px; float:left}
.bit p span { margin-left:10px;  font:12px/20px Arial, Helvetica, sans-serif}
.x1 { float:right; display:block; margin:30px 30px; font:12px/20px "宋体"; color:#333333 }
.x1 a {  font:12px/20px "宋体"; color:#333333 }
.x1 a:hover { text-decoration:none}
.news_right_list { width:765px; height:auto }
.news_right_list ul { list-style:none; width:745px; padding:0px; margin:0px 15px }
.news_right_list ul li { height:30px; display:block; border-bottom:1px dashed #c8c8c8; clear:both}
.news_right_list ul li a { font:12px/30px "宋体"; color:#333333}
.news_right_list ul li a:hover { color:#666666}
.news_right_list ul li span { float:right; padding-right:40px;  font:12px/30px "宋体" }
.news_right_list ul li font { float:left; padding:0px 15px 0px 15px; font:11px/30px "宋体"; color:#333333 }
.right_bottom { height:25px; width:210px; float:right; margin:15px 25px}
.right_bottom ul { height:25px; width:210px; list-style:none; padding:0px; margin:0px }
.right_bottom ul li { height:25px; width:25px; border:1px solid #999; float:left; margin-left:3px; text-align:center}
.right_bottom ul li a { font:12px/25px "宋体"; color:#333333  }
.right_bottom ul li a:hover { color:#ff729b}

/*--------about--------*/
.t_1 { display:block; margin:10px; width:750px; font:12px/25px "宋体"; color:#333333; clear:both}
.t_1 p { font: bold 12px/20px "宋体"; color:#870307; display:block }
.t_1 font { color:#003399;  font:12px/20px "宋体"; display:block; margin-left:15px }
.t_1 span { color:#666666;  font:12px/20px "宋体"; display:block; margin:10px 15px }

/*--------new_content--------*/
.new_content { width:727px; clear:both ;display:block; margin:10px 25px 0px 25px; font:12px/25px "宋体"; color:#333333; text-align:left}
.new_content p { display:block;  color:#003399;  font: bold 12px/25px "宋体"}
.new_content span { color:#666666;  font:12px/25px "宋体"}
.new_content font { margin:20px; font:12px/25px "宋体"}
.xx { display:block; border:1px solid #ccc; font:12px/25px "宋体"; width:727px; margin-top:45px }
.xx a {  font:12px/30px "宋体"; color:#333333; margin-left:25px }
.xx a:hover{ text-decoration:none; color:#333}
