html, body { color:#222; font-family:Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif; margin:0; padding: 0; text-decoration: none; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
img { border:0; }
ol, ul { list-style: none outside none; margin:0; padding: 0; }
a { color:#000000; text-decoration: none; }
.clr { display:block; clear:both; height:0; overflow:hidden; }
.copyright { padding:8px; text-align:center; font-size:14px; color:#666; }
.copyright a { color:#666; }
h2 { font-size:16px; }
body {background-color:#eee; }

.nav ul {
	clear: both;
}
.nav li {
	height: 100px;
	line-height: 100px;
	text-align: center;
	background: #33be7b;
	margin: 5px ;
	width: 30%;
	float: left;
	box-shadow: 3px 2px 5px #DDD;
}

.txt p{
	line-height: 40px;
	background: #33be7b;
	clear: both;
	text-align: center;
	box-shadow: 3px 2px 5px #DDD;
}
.txt li {
	line-height: 30px;
	border-bottom: 1px solid #33be7b;
	text-indent: 2em;
}
body {
				font-size:12px;
				font-family: "微软雅黑";
			}
			a {
				font-size:12px;
				color: #333;
			}
			* {
				margin: 0;
				padding: 0;
				list-style: none;
			}
			.list1,
			.con {
				width: 100%;
				height: 36px;
				background: #33be7b;
				line-height: 36px;
				color: #FFF;
				text-align: center;
			}
			.list1 li {
				padding: 0px 5px;
				float: left;
			}
			.list1 a {
				color: #FFF;
			}
			.con {
				margin: 5px 0;
				padding: 0 0 0 10px;
			}
			.bot {
				padding: 0 0 30px;
			}
			.txt2 {
				margin: 5px 0;
				line-height: 30px;
				text-indent: 2em;
			}
			.box1 {
				background: #F1F1F1;
			}
			.box3 {
				padding: 10px;
				
			}
			.box2 {
				padding: 10px;
				background: #F1F1F1;
			}
			.box2 input {
				margin: 10px 0;
			}.txt1 li{
		    		line-height: 40px;
		    		border-bottom: 1px solid #33be7b;
		    	}
		    	.txt1 i {
		    		padding: 0 10px;
		    	}
			.txt3 i {
				margin: 0 5px 0 10px;
			}
			.txt3 span {
				color: #CCC;
				font-size: 12px;
				margin: 0 0 0 10px;
			}
			.txt3 p {
				color: #33be7b;
				font-weight: 900;
				font-size: 16px;
				border: 1px solid #CCC;
				background: #F1F1F1;
				padding-left: 10px;
				line-height: 30px;
			}
			.txt3 {
				font-size: 16px;
				margin: 5px 0 10px;
				border-bottom: 1px solid #DDD;
			}